<style media="screen">
/* Default Styling */
html{font-family: 'Fira Sans', sans-serif;}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}
.center{text-align: center;}
h2 {font-size: 2rem;} /* multiplier coefficient: 1.6 */
h3 {font-size: 1.17rem;}
p  {font-size: 1.2rem;}
label {font-size: 1.2rem;}

body {background-image: url(bg3.jpg); background-size: 100% auto; margin-top: 0em; color: rgba(0,0,0,0.87); font-family: 'Fira Sans', Arial;}

main {display: flex; flex-direction: row; }

button{border-width: 0; background-color: black;  color: white; text-decoration: none;}
button.jump{padding: 1vw; transition: background-color .3s, color .3s; transition-timing-function: ease-out;}
button.jump:hover {background-color: white; color: black;}

/* About me */
.abt {width: 25%; height: 91%; display: flex; flex-direction: column; justify-content: center; text-align: center; background: url(button2.jpg); padding-top: 3em; margin-top: .5%; position: fixed; }
.prof_pic {width: 50%; height: auto; border-radius: 50%; border-width: .5em; border-style: solid; border-color: rgb(55,55,55);}

/* Projects */
.proj {margin-top: 0em; margin-left: 25.45%; margin-right: 1%; width: 75%;}
.proj_select {display: flex; flex-direction: row; justify-content: space-evenly; width: 75%; padding: .5%; position: fixed; background: rgba(20, 30, 40, 1);}
.proj_items{margin-top: 5.5%; background-color: white; padding-bottom: .5%;}
.prj_descript {margin: 0em 1em; padding-top: 1em;}
.prj_video {text-align: center;}

/* Contact me */
#contact {margin-top: 2em; text-align: center;}
.link {height: 5em; width: auto; border-style: solid; border-width: .1em; border-color: black;}
/* Footer */

/* media queries */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px){
        a.nomobile {
            display: none;
        }
        main{margin: 0;}
        #proj_links {flex-direction: column-reverse;}
        .prj_text {width: 100%;}
}
</style>